In [145]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [146]:
df = pd.read_csv('tel_churn.csv')

In [147]:
df.head(5)

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [148]:
df = df.drop('Unnamed: 0', axis=1)

In [149]:
df.head(5)

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [150]:
#Creating X & Y variables

x = df.drop('Churn', axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [151]:
#Creating X & Y variables

y = df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [152]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

### Decision Tree Classifier

In [153]:
model_dt = DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [154]:
model_dt.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [155]:
y_pred = model_dt.predict(x_test)

In [156]:
y_pred

array([1, 0, 0, ..., 0, 0, 1])

In [157]:
model_dt.score(x_test, y_pred)

1.0

In [158]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.90      0.86      1045
           1       0.61      0.46      0.52       362

    accuracy                           0.79      1407
   macro avg       0.72      0.68      0.69      1407
weighted avg       0.77      0.79      0.78      1407

In [159]:
print(confusion_matrix(y_test, y_pred))

[[940 105]
 [196 166]]

In [160]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [161]:
xr_train, xr_test, yr_train, yr_test = train_test_split(X_resampled, y_resampled, test_size=0.2)

In [162]:
model_dt_smote = DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [163]:
model_dt_smote.fit(xr_train, yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [164]:
y_pred_smote = model_dt_smote.predict(xr_test)

In [165]:
print(classification_report(yr_test, y_pred_smote, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91       519
           1       0.93      0.93      0.93       663

    accuracy                           0.92      1182
   macro avg       0.92      0.92      0.92      1182
weighted avg       0.92      0.92      0.92      1182

In [166]:
print(confusion_matrix(yr_test, y_pred_smote))

[[474  45]
 [ 46 617]]

### Random Forest Classifier

In [167]:
from sklearn.ensemble import RandomForestClassifier

In [168]:
model_rf = RandomForestClassifier(n_estimators=100, criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)
model_rf.fit(x_train, y_train)
y_pred_rf = model_rf.predict(x_test)

In [169]:
print(classification_report(y_test, y_pred_rf, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.93      0.88      1045
           1       0.69      0.45      0.55       362

    accuracy                           0.81      1407
   macro avg       0.76      0.69      0.71      1407
weighted avg       0.79      0.81      0.79      1407

In [170]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [171]:
xr_train, xr_test, yr_train, yr_test = train_test_split(X_resampled, y_resampled, test_size=0.2)

In [172]:
model_smote_rf = RandomForestClassifier(n_estimators=100, criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [173]:
model_smote_rf.fit(xr_train, yr_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [174]:
y_pred_smote_rf = model_smote_rf.predict(xr_test)

In [175]:
print(classification_report(yr_test, y_pred_smote_rf, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.96      0.90      0.93       525
           1       0.92      0.97      0.95       648

    accuracy                           0.94      1173
   macro avg       0.94      0.94      0.94      1173
weighted avg       0.94      0.94      0.94      1173

In [176]:
print(confusion_matrix(yr_test, y_pred_smote_rf))

[[474  51]
 [ 21 627]]

In [177]:
import pickle

In [178]:
filename = 'model.sav'

In [179]:
pickle.dump(model_smote_rf, open(filename, 'wb'))

In [180]:
load_model = pickle.load(open(filename, 'rb'))

In [181]:
load_model.score(xr_test, yr_test)

0.9386189258312021

In [182]:
#Applying PCA
from sklearn.decomposition import PCA
pca = PCA(0.9)
xr_train1 = pca.fit_transform(x_train, y_train)

In [183]:
xr_test1 = pca.transform(x_test)

In [184]:
model_pca = RandomForestClassifier(n_estimators=100, criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [185]:
model_pca.fit(x_train, y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [186]:
y_pred_pca = model_pca.predict(x_test)

In [187]:
print(classification_report(y_test, y_pred_pca, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.93      0.88      1045
           1       0.69      0.45      0.55       362

    accuracy                           0.81      1407
   macro avg       0.76      0.69      0.71      1407
weighted avg       0.79      0.81      0.79      1407